<%= form_for(@guest) do |f| %>
<% if @guest.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

  <ul>
    <% @guest.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.number_field :age %>
</div>
<div class="field">
  <%= f.label :gender %><br>
  <%= f.collection_select(:gender_id, @gender_selection, :id, 
          :name, {}, class: "form-control form-control-sm", id:'select-gender-#{:name}')%>

</div>
<div class="field">
  <%= f.label :category %><br>
  <%= f.collection_select(:category_id, @category_selection, :id, 
          :name, {}, class: "form-control form-control-sm", id:'select-category-#{:name}')%>
</div>
<div class="field">
  <%= f.label :street %><br>
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :neighborhood %><br>
  <%= f.text_field :neighborhood %>
</div>
<div class="field">
  <%= f.label :cep %><br>
  <%= f.text_field :cep, class: 'cep'%>
</div>
<div class="field">
  <%= f.label :street_number %><br>
  <%= f.number_field :street_number %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone, class: 'phone', id: 'phone' %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>