<!DOCTYPE html>
<html>

<head>
  <title>CRUD de Eventos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class='container-fluid p-0 bg-primary rounded vh-100'>
    <div id='navbar'>
      <%= render 'layouts/navbar' %>
    </div>
    <div class='p-3' id='content'>
      <%= yield %>
    </div>
  </div>
</body>

</html>